<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button type="button" class="backdrop__button" data-modal-close>
             <svg class="backdrop__close" width="11" height="11">
                                <use href="#"></use>
                            </svg> 
        </button>
            
                <h2 class="modal__title">Оставьте свои данные, мы вам перезвоним</h2>
                    <form class="form">
               
                    </form>
            
    </div>
</div>