<header class="header highlight-on-scroll">
    <section> 
        <div class="container header-container">
        
                <nav class="logo">
                    <a href="#">
                        <svg class="logo-link" width="31" height="48">
                            <use href="./images/sprite.svg#Logo"></use>
                        </svg>
                    </a>
                </nav>
                <div class="header-menu">
                    <ul class="header-menu__list">
                        <li class="header-menu__list-item"><a href="#">home</a></li>
                        <li class="header-menu__list-item"><a href="#">about</a></li>
                        <li class="header-menu__list-item"><a href="#">gallery</a></li>
                        <li class="header-menu__list-item"><a href="#">contacts</a></li>
                    </ul>
        
                    <span class="header-number"><a href="#">+1 893 839-23-64</a></span>
                </div>

            

            <button
                aria-label="Menu"
                class="menu-button is-open"
                data-mobile-open
                aria-expanded="false"
                type="button">
                <svg id="icon-burger" class="mini-btn__icon" width="40" height="40">
                    <use href="./images/icons.svg#icon-Burger"></use>
                </svg>
                

                
            </button>

            <div class="mobile-menu" data-menu=""> 
                <button aria-label="Menu" class="mobile__mini-btn mobile__mini-btn--close" 
                data-mobile-close="" aria-expanded="false" type="button"> 
                <svg id="icon-cross" class="mini-btn__icon" width="20" height="20">
                    <use href="./images/icons.svg#icon-close"></use>
                </svg>
            </button>
                <nav class="mobile-menu__nav"> 
                    <ul class="mobile-menu__list"> 
                        <li class="mobile-menu__item"> 
                            <a href="#" class="mobile-menu__link">Home</a> 
                        </li> 
                        <li class="mobile-menu__item"><a href="#" class="mobile-menu__link">About</a></li>
                        <li class="mobile-menu__item"><a href="#" class="mobile-menu__link">Gallery</a></li> 
                        <li class="mobile-menu__item"><a href="#" class="mobile-menu__link">Contacts</a></li> 
                        <li class="mobile-menu__item"><a href="#" class="mobile-menu__link"></a></li> 
                    </ul> 
                    <span class="mobile-header__number"><a href="#">+1 893 839-23-64</a></span>
                </nav>   
            </div>
        </div>
    </section>
</header>





