.hidden-scroll {
  overflow: hidden;
}

.basicLightbox .basicLightbox--visible .hidden-scroll-auto {
  overflow: auto;
}

.gallery-block {
  padding-bottom: 100px;
}

.swiper-container {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.gallery-title {
  text-transform: var(--text-transform-upper);
  color: var(--color-secondary-black);
  margin-bottom: 50px;
  font-size: 50px;
  line-height: 1.5;
}

.swiper-wrapper {
  display: flex;
  justify-content: space-between;
}

.gallery__image {
  width: 380px;
  height: 280px;
}

.basicLightbox {
  padding-left: 15px;
  padding-right: 15px;
}

.swiper-slide {
  box-shadow: 0px 0px 15px 1px rgba(97,97,97,1);
}
 

  .info {
    justify-content: center;
    align-items: center;
    padding: 15px;
    display: flex;
    background: #ffffff;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    }
  
  .info-item {
    font-size: 17px;
    line-height: 1.5;
    text-align: center;
  }
  
    .info-item:not(:last-child){
      margin-right: 20px;
    }

.stats {
  position: relative;
  top: 10px;
  color: var(--color-secondary-black);
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  margin-bottom: 80px;
}

.swiper-button-next, .swiper-button-prev {
  z-index: 1!important;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  color: #fff;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-prev:after {
  color: #fff;
}

span.swiper-pagination-bullet-active{
  background: #fff;
}

.swiper-pagination {
  z-index: 1!important;
}

@media (max-width: 1200px) {

}
@media (max-width: 768px) {
  .gallery__image {
    width: 100%;
    height: 380px;
  }
}

@media (max-width: 480px) {
  .gallery-block {
    padding-bottom: 50px;
}
  .gallery-title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .gallery__image {
    width: 100%;
    height: 260px;
  }
}

  
  