<section class="contents"> 
    <div class="container">
        <div class="contacts-location">
            <h1 class="contacts-title">Contents</h1>
            <address class="contacts-address">
                <div class="contacts-location">
                    <h3 class="contacts-location-title">New York City</h3>
                    <ul class="contacts-location__content">
                        <li class="contacts-location__item contacts-location__address">336 West 37th St</li>
                        <li class="contacts-location__item contacts-location__address">Suite 850</li>
                        <li class="contacts-location__item contacts-location__address">New York, NY 10018</li>
                    </ul>
                </div>
                <div class="contacts-location">
                    <h3 class="contacts-location-title">Call or Text</h3>
                    <ul class="contacts-location__content">
                        <li class="contacts-location__item contacts-location__address">Mon-Sat 9am - 7pm PT</li>
                        <li class="contacts-location__item contacts-location__address">Sun 9am - 1pm PT</li>
                        <li class="contacts-location__item">
                            <a href="mailto:ihello@mixlabrx.com" rel="noreferrer noopener" class="contacts-location__link">hello@mixlabrx.com</a>
                        </li>
                        <li class="contacts-location__item">
                            <a href="tel:8889014480" rel="noreferrer noopener" class="contacts-location__link">(888) 901-4480</a>
                        </li>
                    </ul>
                </div>
                <div class="sociale">
                    <h3>Sociale</h3>
                    <ul class="contacts-networks">
                        <li class="contacts-networks__item">
                            <a href="#">
                                <svg class="contacts-networks__icon" width="15" height="15">
                                    <use href="./images/icons.svg#icon_instagram-2"></use>
                                </svg> 
                            </a>
                        </li>
                        <li class="contacts-networks__item">
                            <a href="#">
                                <svg class="contacts-networks__icon" width="15" height="15">
                                    <use href="./images/icons.svg#facebook"></use>
                                </svg> 
                            </a>
                        </li>
                        <li class="contacts-networks__item">
                            <a href="#">
                                <svg class="contacts-networks__icon" width="15" height="15">
                                    <use href="./images/icons.svg#icon_linkedin"></use>
                                </svg> 
                            </a>
                        </li>
                    </ul>
                </div> 
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.3321991628986!2d-73.99389819999999!3d40.75471769999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259ad70388de5%3A0xbd240fe895477fb0!2zMzM2IFcgMzd0aCBTdCBTdWl0ZSA4NTAsIE5ldyBZb3JrLCBOWSAxMDAxOCwg0KHQqNCQ!5e0!3m2!1sru!2sua!4v1698142532959!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>        
            </address>

        </div>
    
    </div>
</section>


